<div class="container">
  <h2>Cálculo de Preço</h2>
  <form [formGroup]="calculoprecoForm" class="filter-form">
      <mat-form-field>
        <mat-label>Filtro de Fabricantes:</mat-label>
        <select matNativeControl formControlName="fabricanteSelecionado">
          <option value="">Todos</option>
          <option *ngFor="let fabricante of fabricantes" [value]="fabricante">{{ fabricante }}</option>
        </select>
      </mat-form-field>

    <button mat-raised-button color="warn" (click)="excluirDados()">Limpar Dados</button>
  </form>

  <table class="product-table">
    <tr>
      <th>Fabricante</th>
      <th>Cód. Produto</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Desconto (%)</th>
      <th>Valor Total</th>
    </tr>

    <tr *ngFor="let produto of produtos; let i = index">
      <td>{{ produto.fabricante }}</td>
      <td>{{ produto.codigo }}</td>
      <td>{{ produto.descricao }}</td>
      <td>
        <ng-container *ngIf="produto.valor === 1; else showStaticValue">
          <mat-form-field>
            <input matInput [formControlName]="i + '_valor'" type="number" step="0.01" [readonly]="produto.valor !== 1" [value]="produto.valor" />
          </mat-form-field>
        </ng-container>
        <ng-template #showStaticValue>
          {{ produto.valor | currency:'BRL' }}
        </ng-template>
      </td>
      <td>
        <mat-form-field>
          <input matInput [formControlName]="i + '_desconto'" type="number" step="0.01" (change)="calcularValorTotal(produto, i)" />
        </mat-form-field>
      </td>
      <td>{{ calcularValorTotal(produto, i) | currency:'BRL' }}</td>
    </tr>

    <tr>
      <td colspan="3"><span>Total</span></td>
      <td>{{ calcularTotalGeral() | currency:'BRL' }}</td>
      <td></td>
      <td>{{ calcularTotalGeral() | currency:'BRL' }}</td>
    </tr>
  </table>
</div>
