/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filter-form {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th, .product-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

.product-table th {
  background-color: #f0f0f0;
}
